*{
    margin: 0;
    padding: 0;
}
.container{
    width: 800px;
    height: 600px;
    display: grid;  /* 열 : 6, 행 : 11 */
    grid-template-columns: 50px repeat(5, 1fr);
}
.item{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border: 1px solid gray;
    display: grid;
    place-items: center;    
    color: rgb(87, 105, 52);
    font-weight: bold;
}
.first-row{
    background-color: rgba(248, 182, 182, 0.779);
}
.time{
    background-color: rgba(244, 250, 174, 0.731);
}
/* .item:nth-child(6n+7){
    background-color: rgba(244, 250, 174, 0.731);
} */
.mon-wsm{
    /* grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 3; */
    grid-row: span 2;
}
.tue-ds{
    grid-row: span 2;
}
.tue-B{
    grid-row: span 2;
}
.wen-py{
    grid-row: span 2;
}
.wen-day{
    grid-row: span 2;
}
.thr-java{
    grid-row: span 2;
}
.thr-wsm{
    grid-row: span 2;
}
.thr-B{
    grid-row: span 2;
}
.fri-java{
    grid-row: span 2;
}
.fri-js{
    grid-row: span 2;
}
.time-MWT{
    background-color: rgb(248, 245, 245);
}
.time-T{
    background-color: rgb(245, 239, 230);
}